.grid {
  margin: 25px 0 0;
}

.visual-1 {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
  background-color: red;
  margin-left: 20px;
}

.visual-2 {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
  background-color: green;
  margin-left: 20px;
}
.visual-3 {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
  background-color: rgb(12, 53, 71);
  margin-left: 20px;
}
